<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>

<body>
    <nav>

<div class="container">
    <ul>
        <li class="qb"> <a href="" target="_blank" >Home </a> </li>
        <li class="qb"><a href="#" target="_blank" >About</a></li>
        <li class="qb"><a href="#" target="_blank" >Contact</a></li>
        <li class="qb"><a href="#" target="_blank" >Services</a></li>
    </ul>

 



</div>
</nav>  

</div>
<div class="box">
<div class="button">
        <a id="b1" href="/index" target ="_blank">Login</a>
       
    </div> 
    <!-- <div class="line">
      <p>Or</p>
    </div> -->
    <form action="/register" method="POST">
    <div class="foorm">
        
            <input type="text" id="foorm1" class="name"
          placeholder="Enter Your Name" name="name1"/>

          <input type="number" id="foorm2" class="name"
          placeholder="Enter your mobile number" name="number" />


        
        <input type="text" id="foorm5" class="name"
          placeholder="Enter a valid email address" name="email" />

          <input type=" text" id="foorm3" class="name"
          placeholder="Create a password" name="password"/>

        <div class="name">
            <input type="submit" class="btnregister" value="Register">
        </div>
</div>
         </form> 
        <!-- <label class="form-label" for="form3Example3">Email address</label> -->
      

   
      

      {{!-- <a id="sign" class="name" href="default.asp" target ="_blank">Sign in</a> --}}
    
   
   

</div>
</body>
</html>

